
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: "Nunito Sans", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
}

main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-container {
    font-size: clamp(4rem, 7vw, 6rem);
}

.divider {
    border-top: 1px solid white;
    width: 0;
    margin: 20px 0;
    animation: divider 0.8s forwards;
    
}
@keyframes divider {
    from{
        width: 0;
    }
    to{
        width: 70%;
    }
    
}

a {
    color: #00bcd4;
    /* color: gold; */

    text-decoration: none;
    width: fit-content;
    font-size: clamp(1.5rem, 2vw, 2rem);
    transition: color 0.1s ease-in-out, transform 0.1s ease-in-out;
    font-weight: 600;
}

a:hover {
    color: rgb(41, 243, 255);
    /* color: gold; */

    transform: scale(1.05);
}
nav{
    display: flex;
    gap: 20px;
    margin: 10px 0;
}
.socials{
    display: flex;
    gap: 20px;
}
.socials i{
    font-size: 1.5rem;
}
#dividertwo{
    display: none;
}
@media screen and (max-width: 700px) {
    #dividertwo{
        display: block;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
}
