---
import MainLayout from "../layouts/MainLayout.astro"

const pageTitle = "About Me"
---
<MainLayout pageTitle = {pageTitle}>
  
  <h1><span class="highlight">Hello there!</span></h1>
  <h2><span class="underline">I'm Noel Tom</span></h2>
  <p>
    A Computer Science Engineering sophomore at Amrita Bangalore. I occasionaly indulge in competetive programming and also sometimes play CTFs. 
  </p>
  <p>
    As of late, Productivity apps and concepts have piqued my interest so I will <i>eventually</i> begin working on some sort of a project in that space. The meaning of life? - To pomodoro my way through any apparent crisis. 
  </p>
  <p>
    I have too many interests and hobbies wrestling for my time, so I choose to be a diplomat and pursue none of them.  
    Although, I do really, really like keyboards and basketball. I'm a huge Warriors fan and would like to bring to your notice that Steph Curry is the Greatest Shooter of All Time. 
    <!-- I love learning new languages and unusual skills that have close to zero value in real life, e.g, cardistry, writing with my non dominant hand etc.  -->
  </p>
  <p>
    I have very strong opinions on music, computer mice, rice and water.
  </p>
  <p>
    Rapid Fire Favourites
    <ul>
      <li>
        Artists: Powfu, BMTH
      </li>
      <li>        
        Movies: Your Name, Interestellar        
      </li>
      <li>
        Books: Kite Runner, Tuesdays with Morrie
      </li>      
    </ul>
  </p> 
  <!-- add links -->
   <!-- Tech I Use  -->
   <div slot="sidebar">    
  </div>
  </MainLayout>

