---
import MainLayout from "../layouts/MainLayout.astro"

const pageTitle = "About Me"
---
<MainLayout pageTitle = {pageTitle}>
  
  <h1>Hello there!</h1>
  <h2>I'm Noel Tom</h2>
  <p>
    A Computer Science Engineering sophomore at Amrita Bangalore. Physical land was out of my budget, therefore I have turned to the internet for real estate. I'm still kinda new to programming but looking to change that by building projects. I occasionaly indulge in competetive programming and also sometimes play CTFs. 
  </p>
  <p>
    Productivity apps and concepts have been pretty interesting to meas of late so I will eventually begin working on some sort of a passion project along those lines. The goal is to pomodoro my way through my through any apparent crisis.
  </p>
  <p>
    I have too many interests and hobbies wrestling for my time, so I choose to be a diplomat and pursue none of them. 
    Although, I do really really like keyboards and basketball. I'm a huge warriors fan and would like to bring to your notice that Steph Curry is the Greatest Shooter of All Time.    
  </p>
  <p>
    I have very strong opinions on music, computer mice, rice and water.
  </p>
  <p>
    Rapid Fire Favourites
    <ul>
      <li>
        Artists: Powfu, BMTH
      </li>
      <li>        
        Movies: Your Name, Interestellar        
      </li>
      <li>
        Books: Kite Runner 
      </li>      
    </ul>
  </p> 
  <!-- add links -->
   <!-- Tech I Use  -->
</MainLayout>

