---
import MainLayout from "../layouts/MainLayout.astro"

const pageTitle = "About Me"
---
<MainLayout pageTitle = {pageTitle}>
  
  <h1>Hello there!</h1>
  <h2>I'm Noel</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, ut.
    Omnis labore, nisi at impedit odit quasi neque ipsam suscipit eligendi
    assumenda totam molestiae consequatur laborum officia soluta placeat
    repellendus.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi deleniti
    ducimus itaque expedita odio! Consequuntur doloremque tempora at
    voluptatibus ad enim sed porro asperiores, esse, itaque suscipit deleniti
    facere dolor?
  </p>
</MainLayout>
