---
import BlogPost from "../components/BlogPost.astro";
import MainLayout from "../layouts/MainLayout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
import "../styles/global.css"
---

<MainLayout pageTitle="Blog">
  <h1>Blog</h1>
  <p>Not everyone should have their own podcast, blog maybe.</p>

  <div class="post-list-container">
    {
      allPosts.map((post: any) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          date={new Date(post.frontmatter.date).toLocaleDateString()}
        />
      ))
    }
  </div>
</MainLayout>
<style>
  .blog-post {
    background-color: #1a1e1e;
  }
</style>
