---
// import "../styles/global.css";
import BlogPost from "../components/BlogPost.astro";
import TagList from "../components/TagList.astro";
import MainLayout from "../layouts/MainLayout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
---

<MainLayout pageTitle="Blog">
  <h1><span class="highlight">Blog</span></h1>
  <p>Not everyone should have their own podcast, blog maybe.</p>
  <TagList/>
  <div class="post-list-container">
    {
      allPosts.map((post: any) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          date={new Date(post.frontmatter.date).toLocaleDateString()}
        />
      ))
    }
  </div>
</slot>


</MainLayout>
