---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Welcome</title>
    <script
      src="https://kit.fontawesome.com/a2137a72a9.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="content">
      <div class="name-container">
        <div class="name">
          <p>NOEL TOM</p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="nav-container">
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <a href="/projects/">Projects</a>
        <!-- <a href="/projects/">Projects</a> -->
      </div>
    </div>
  </body>
</html>
