---
import BlogPost from "../components/BlogPost.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout pageTitle="Blog">
  <h1>Projects</h1>
    <p>Give me some time, it won't be as empty.</p>
  <div class="post-list-container">
        <BlogPost url = `https://github.com/noeltom30/personal-site` title = "This Website" description =`"Minimalism is a ploy by Big Small to sell us more less"`/>        
  </div>
</MainLayout>
<style>
  .blog-post {
    background-color: #1a1e1e;
  }
</style>
