---
// export const prerender = false
const API_URL = "https://ws.audioscrobbler.com/2.0/";
const API_KEY = import.meta.env.LASTFM_API_KEY;  
const url = `${API_URL}?method=user.getrecenttracks&user=noel_30_tom&api_key=${API_KEY}&format=json&limit=1`;

let responseData = null;
try {
    const response = await fetch(url);
    if (response.ok) {
        responseData = await response.json();
    } else {
        responseData = { error: "Failed to fetch data from the API." };
    }
} catch (error) {
    responseData = { error: error.message };
}
---
<html>
    <head>
        <title>API Tester</title>
    </head>
    <body>
        <pre>{JSON.stringify(responseData, null, 2)}</pre>
    </body>
</html>