---
const { url, title, description, date } = Astro.props;
---

<div class="post">
  <div class="post-content-wrapper">
    <a class = "post-title" href={url}>{title}</a>
    <div class="post-description">{description}</div>
  </div>
  {date && <div class="date">Published on: <span style="color: #40bfff">{date}</span></div>}
</div>
<style>
  .post {
    background-color: #252424; 
    padding: 17px;
    border-radius: 10px;    
    margin-top: 20px;
    max-width: 100%; 
    display: flex;
    justify-content: space-between;
  }

  .post-title {
    font-size: 22px;
    color: #40bfff;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
  }

  .post-title:hover {
    text-decoration: underline;
  }

  .post-description {
    font-size: 16px;
    color: #ddd;
    margin-bottom: 8px;
  }
  .post-date {
    font-size: 14px;
    color: #aaa; /* Subtle color for date */
  }
  @media only screen and (max-width: 600px) {
      .post{
        flex-direction: column;
      }    
  }
</style>
