---
const { url, title, description, date} = Astro.props;
---

<div class="post">
  <div class="about-post-wrapper">
    <h4><a href={url}>{title}</a></h4>
    <div class="post-description">{description}</div>
  </div>
  {date &&
  <div class="date">
    {date}
  </div>
  }
</div>
