---
const socials = {
  github: "noeltom30",
  instagram: "noel_30_tom",
  linkedin: "in/noeltom30",
};
---
 <hr style="border: none; border-top: 1px solid rgba(255, 254, 254, 0.212); margin: 1.5rem 0;">
<!-- <hr class="gradient-divider"> -->
<footer>
  <!-- <div class="socials">
    {
      Object.entries(socials).map(([site, username]) => (
        <a
          href={`https://${site}.com/${username}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src={`../../${site}.svg`}
            height="20px"
            width="20px"
            style="fill: #75f0fc;"
          />
        </a>
      ))
    }
  </div> -->
  <div class="webring">
    <a href="https://amrita.town">amrita.town |</a>
    <a href="https://amrita.town/prev"> prev .</a>
    <a href="https://amrita.town/random"> random .</a>
    <a href="https://amrita.town/next">next |</a> 
  </div>
</footer>
<style>
  footer{
    margin: 10px 0;
  }
  .socials {
    display: flex;
    gap: 15px;
  }
</style>
