---
const socials = {
  github: "noeltom30",
  instagram: "noel_30_tom",
  linkedin: "in/noeltom30",
};
---

<footer>
  <div class="socials">
    {
      Object.entries(socials).map(([site, username]) => (
        <a
          href={`https://${site}.com/${username}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src={`../../${site}.svg`}
            height="20px"
            width="20px"
            style="fill: #75f0fc;"
          />
        </a>
      ))
    }
  </div>
  <!-- <div class="webring">
    <a href="https://amrita.town">amrita.town</a>
    <a href="https://amrita.town/prev">← prev</a>
    <a href="https://amrita.town/random">⚄ </a>
    <a href="https://amrita.town/next">next →</a> 
  </div> -->
</footer>
<style>
  footer{
    margin-top: 10px;
  }
  .socials {
    display: flex;
    gap: 15px;
  }
  i {
    font-size: 1.2rem;
  }
</style>
