---

---

<div class="nav-overlay"></div>
<div class="hamburger">☰</div>
<nav>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/projects/">Projects</a>
</nav>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const hamburger = document.querySelector(".hamburger");
    const nav = document.querySelector("nav");
    const overlay = document.querySelector(".nav-overlay");

    if (hamburger && nav && overlay) {
      hamburger.addEventListener("click", function (event) {
        nav.classList.toggle("open");
        overlay.classList.toggle("open");
        hamburger.textContent = nav.classList.contains("open") ? "" : "☰";
        event.stopPropagation();
      });

      document.addEventListener("click", (event: MouseEvent) => {
      if (event.target instanceof Node) {
        if (
          nav.classList.contains("open") &&
          !nav.contains(event.target) &&
          !hamburger.contains(event.target)
        ) {
          nav.classList.remove("open");
          overlay.classList.remove("open");
          hamburger.textContent = "☰";
        }
      }
    });
  }
});
</script>
<style>
  nav {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 15%;
    font-size: 1.5rem;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 15px;
  }

  .hamburger {
    display: none;
    color: white;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 2vw;
    z-index: 123;
  }

  .nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 121;
  }

  .nav-overlay.open {
    display: block;
  }

  @media only screen and (max-width: 1200px) {
    nav {
      display: none;
      flex-direction: column;
      width: auto;
      min-width: 200px; 
      position: fixed; 
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
      background: black;
      border: 1px solid #444;
      border-radius: 5px;
      padding: 20px;
      gap: 15px;
      opacity: 0;
      z-index: 122; 
      transition: opacity 0.3s ease-in-out;
    }
    nav:first-child{
      margin-top: 20px;
    }
    nav:last-child{
      margin-bottom: 20px;
    }

    nav.open {
      display: flex;
      opacity: 1;
    }

    .hamburger {
      display: block;
      top: 15px;
    }
  }
</style>
