---

---
<nav>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/projects/">Projects</a>
</nav>
<style>
    nav{
      display: flex;
      gap: 15px;
      flex-direction: column;
      width: 15%;
      font-size: 1.5rem;
      align-items: center;
      padding-top: 10%;
    }    
</style>


