---

---
<nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</nav>
<style>
    nav{
        margin-top: 1.5rem;
        display: flex;
        gap: 10px;
        margin-bottom: 2rem;
    }

</style>


