---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import TagList from "../components/TagList.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
const pathMatcher = new RegExp("blog|tags|posts");

const tagListCondition = pathMatcher.exec(Astro.url.pathname);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script src="https://kit.fontawesome.com/a2137a72a9.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="main-container">
      <Navigation />
      <div class="content">
        <slot />
      </div>
      <div class="taglist-container">
        {tagListCondition && <TagList />}
      </div>
    </div>

    <Footer />
  </body>
</html>