---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
const { pageTitle, tags } = Astro.props;
---

<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />

    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="main-container">
        <div class="navigation-wrapper">
          <Navigation />
        </div>
        <div class="content">
          <slot />
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>
